@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,600"); /* Google fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*background-image: url(img/wireframe.png);*/
    /* display: flex; */
    background-color: #f4f3f7;
    justify-content: center;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 60px;
    transition: all .5s ease-in-out;}

.menu-btn_lines{
    width: 20px;
    height: 5px;
    background: #f4f3f7;;
    border-radius: 1px;
    transition: all .5s ease-in-out;
}

.menu-btn_lines::before,
.menu-btn_lines::after {
    content:'';
    position:absolute;
    width: 30px;
    height: 5px;
    background: #f4f3f7;;
    border-radius: 1px;
    transition: all .5s ease-in-out;
}

.menu-btn_lines::before{
    transform:translateY(-16px);
}

.menu-btn_lines::after{
    transform:translateY(16px);
}

/* CSS Animation to toggle sidebar */
.menu-btn.open .menu-btn_lines{
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn_lines::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_lines::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

/* Navbar */

nav{
    z-index: 3;
    width: 50vw;
}

header{
    margin-bottom: 5rem;
}

header nav ul li {
    color: #331b9c;
    list-style: none;
    text-align: left;
}

header nav ul li a{
    text-transform: uppercase;
    font-weight: 400;
    color: #331b9c;
    text-decoration: none;
    display: block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 0rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 0.9rem;
}

header nav ul li a.active{
    color: #d13cdf;
    font-weight: 500;
}

header nav ul li a span{
    border-top: 1px solid #331b9c;
    border-bottom: 1px solid #331b9c;
    font-weight: 500;
    font-size: 1.3rem;
    display: block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    padding-left: .5rem;
    text-align: center;
}

header nav ul li a span.topnav{
    border-top: 0px solid #000;
}

header nav {
    position: fixed;
    width: 50vw;
    height: 100%;
    background-color: #f4f3f7;
    top: 60px;
    left: -100%;
    transition: 0.5s;
  } /* Hides the navbar when the hamburger menu isn't active */

header nav.active {
    left: 0;
} /* unhides the navbar whenever the hamburger menu is interacted with */

.blurbg{
    top: 0;
	position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    transition: 0s;
    background-color: rgba(0, 0, 0, 0);
}

.blurbg2{
    top: 0;
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    transition: 0s;
    background-color: rgba(0, 0, 0, 0);
}

.blurbg3{
    top: 0;
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    transition: 0s;
    background-color: rgba(0, 0, 0, 0);
}

.blurbg.active{
	z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.blurbg2.active{
	z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.blurbg3.active{
	z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.bgclick{
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    transition: 0s;
    left: -100%;
}

.bgclick2{
    top: 0;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    transition: 0s;
    left: -100%;
}

.bgclick3{
    top: 0;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    transition: 0s;
    left: -100%;
}

.bgclick.active{
    left: 0;
}

.bgclick2.active{
    left: 0;
}

.bgclick3.active{
    left: 0;
}


#titlebar{
    top: 0;
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: row;
    background: rgb(174,149,226);
    background: linear-gradient(137deg, rgba(174,149,226,1) 0%, rgba(102,145,255,1) 100%);
    width: 100vw;
}


#titlebar h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1rem;
    color: #f4f3f7;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.prompt-container{
    z-index: 5;
    padding: 2rem;
    border-radius: 25px;
    position: fixed;
    display: flex;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15rem;
    background-color: #f4f3f7;
    box-shadow:  0px 5px 4px #d4d3d7;
    text-align: center;
    text-transform:uppercase;
    font-size: 0.9rem;
    color: #583fc7;
    font-weight: 400;
    transition: .5s;
    top: -100%;
    flex-flow: column;
}

.prompt-container2{
    z-index: 5;
    padding: 2rem;
    border-radius: 25px;
    position: fixed;
    display: flex;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15rem;
    background-color: #f4f3f7;
    box-shadow:  0px 5px 4px #d4d3d7;
    text-align: center;
    text-transform:uppercase;
    font-size: 0.9rem;
    color: #583fc7;
    font-weight: 400;
    transition: .5s;
    top: -100%;
    flex-flow: column;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button{
    min-width: 4rem;
    font-weight: 600;
    border: none;
    flex-grow: 1;
    text-transform: uppercase;
    padding: .75rem;
    border-radius: 50px;
    margin-top: 2rem;
    color: #fff;
    background: rgb(174,149,226);
    background: linear-gradient(137deg, rgba(174,149,226,1) 0%, rgba(102,145,255,1) 100%);
}


.prompt-container.active{
    top: 50%;
}

.prompt-container2.active{
    top: 50%;
}

.body-container h1{
    color: #331b9c;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.body-container p{
    color: #583fc7;
    margin-top: 1rem;
    text-indent: 1rem;
}

.body-container a{
    font-size: 1.2rem;
    color: #d13cdf;
}

.body-container i{
 display: none;
}

.body-container .questionblock{
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    width: 4rem;
    background: rgb(174,149,226);
    background: linear-gradient(137deg, rgba(174,149,226,1) 20%, rgba(102,145,255,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body-container img{
    max-width: 12rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.body-container h2{
    color: #583fc7;;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.body-container h3{
    color: #583fc7;;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    position: relative;
    border-radius: 10px;
    box-shadow:  6px 6px 17px #d4d3d7,
    -6px -6px 17px #ffffff; /* Adds a neumorphic background shadow */

}
