@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,600"); /* Google fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*background-image: url(img/wireframe.png);*/
    /* display: flex; */
    
    justify-content: center;
    min-height: 100vh;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 60px;
    transition: all .5s ease-in-out;}

.menu-btn_lines{
    width: 20px;
    height: 5px;
    background: #FFF;
    border-radius: 1px;
    transition: all .5s ease-in-out;
}

.menu-btn_lines::before,
.menu-btn_lines::after {
    content:'';
    position:absolute;
    width: 30px;
    height: 5px;
    background: #FFF;
    border-radius: 1px;
    transition: all .5s ease-in-out;
}

.menu-btn_lines::before{
    transform:translateY(-16px);
}

.menu-btn_lines::after{
    transform:translateY(16px);
}

/* CSS Animation to toggle sidebar */
.menu-btn.open .menu-btn_lines{
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn_lines::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_lines::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

#titlebar{
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    background: rgb(174,149,226);
    background: linear-gradient(137deg, rgba(174,149,226,1) 0%, rgba(102,145,255,1) 100%);
    width: 100vw;
}


#titlebar h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1rem;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

#titlebar i{
    margin: 0;
    font-size: 2rem;
}

.body-container h1{
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.body-container p{
    margin-top: 2rem;
}

.body-container{
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    padding: 2rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #d9d9d9,
                -6px -6px 12px #ffffff; /* Adds a neumorphic background shadow */

}

.body-container:nth-child(3){
    margin-top: 1rem;
}